include dash_chat_multi/dash_chat_multi.min.js
include dash_chat_multi/dash_chat_multi.min.js.map
include dash_chat_multi/metadata.json
include dash_chat_multi/package-info.json
include README.md
include package.json
